<div class="row">
    <div class="col-md-12 logo">
        <a title="Anasayfa" (click)='returnHomePage()'><img alt="file-icon" src="assets/svg/file.svg"></a>
        <h1>{{title}}</h1>
    </div>
    <div class="col-md-12 left-side-route">
        <div class="row routeLinks">
            <a title="Yapılacaklar" routerLink="/todo-list">Yapılacaklar</a>
            <a title="Yapılıyor" routerLink="/in-progress-list">Yapılıyor</a>
            <a title="Tamamlananlar" routerLink="/completed-list">Tamamlananlar</a>
            <a title="ÇıkışYap" (click)='logOut()'*ngIf="isLoggedin()==true">Çıkış yap</a>
        </div>
    </div>
</div>