$color : #900C3F;
@mixin backgroundColor {
    background: rgb(207,211,223);
    background: linear-gradient(90deg, rgba(207,211,223,1) 82%, rgba(226,235,240,1) 100%); }
@mixin flexCenter {
    display: flex;
    justify-content: center;
    justify-items: center;
}
.logo {
   
    @include flexCenter();
    margin : 48px 20px 10px;
    img {
        cursor: pointer;
        height: 60px;
    }
    h1 {
        margin : 15px;
    }
}

.left-side-route {
    padding:1rem;
    font-size:17px;
    @include flexCenter();
    .routeLinks a{
        cursor: pointer;
         color:#5393e7;
         padding : 1rem;
         margin-top: -13px;
         text-decoration-line: none;

         &:hover{
             font-weight: 700;
             text-decoration: underline;
         }
    }
 }