$color : #900C3F;
@import "../../functions";
.logo {
    @include flexCenter();
    margin : 48px 20px 10px;
    img {
        cursor: pointer;
        height: 60px;
    }
    h1 {
        margin : 15px;
    }
}
.left-side-route {
    padding:1rem;
    font-size:17px;
    @include flexCenter();
    .routeLinks a{
        cursor: pointer;
         color:#5393e7;
         padding : 1rem;
         margin-top: -13px;
         text-decoration-line: none;
         
         &:hover{
             font-weight: 700;
             text-decoration: underline;
         }
    }
 }