<app-header></app-header>
<div class="container page-content">
    <div class="row">
        <div class="col-lg-4">
            <h2> Yapılacaklar</h2>
            <div cdkDropList #yapilacaklar="cdkDropList" [cdkDropListConnectedTo]="[yapimAsamasinda]"
                [cdkDropListData]="data.pendings" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of data.pendings" cdkDrag>
                    <div class="container">
                        <div class="row order-todos">
                            <img class="icons" alt="pendings-icon" src="assets/svg/clock.svg">
                            {{item.todo}}
                            <img class="icons" (click)="item.canEditCode = true" src="assets/svg/edit-icon.svg"
                                alt="edit-icon">
                            <img (click)="removeToDo(data.pendings,item)" alt="remove-icon" class="icons"
                                src="assets/svg/remove.svg">
                        </div>
                        <ng-template [ngIf]=item.canEditCode>
                            <input class="edit-input" *ngIf="item.canEditCode" [(ngModel)]="item.todo" type="text">
                            <small id="kaydet" (click)="editToDo(data.pendings,item)">Kaydet</small>
                            <small id="iptal-et" (click)="item.canEditCode=false">İptal Et</small>
                        </ng-template>
                    </div>
                </div>
                <div class="text-center pt-3" *ngIf="data.pendings?.length === 0"><small>Yapılacak iş yok </small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2> Yapım Aşamasında Olanlar</h2>
            <div cdkDropList #yapimAsamasinda="cdkDropList" [cdkDropListConnectedTo]="[yapilacaklar,tamamlanan]"
                [cdkDropListData]="data.inProgress" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of data.inProgress" cdkDrag>
                    <div class="container">
                        <div class="row order-todos">
                            <img class="icons" alt="pendings-icon" src="assets/svg/processing.svg">
                            {{item.todo}}
                            <img class="icons" (click)="item.canEditCode = true" src="assets/svg/edit-icon.svg"
                                alt="edit-icon">
                            <img (click)="removeToDo(data.inProgress,item)" alt="remove-icon" class="icons"
                                src="assets/svg/remove.svg">
                        </div>
                        <ng-template [ngIf]=item.canEditCode>
                            <input class="edit-input" *ngIf="item.canEditCode" [(ngModel)]="item.todo" type="text">
                            <small id="kaydet" (click)="editToDo(data.inProgress,item)">Kaydet</small>
                            <small id="iptal-et" (click)="item.canEditCode=false">İptal Et</small>
                        </ng-template>
                    </div>
                </div>
                <div class="text-center pt-3" *ngIf="data.inProgress?.length === 0"><small>Yapım Aşaması boş!</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2> Tamamlananlar</h2>
            <div cdkDropList #tamamlanan="cdkDropList" [cdkDropListConnectedTo]="[yapimAsamasinda]"
                [cdkDropListData]="data.done" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of data.done" cdkDrag>
                    <div class="container">
                        <div class="row order-todos">
                            <img class="icons" alt="done-icon" src="assets/svg/like.svg">
                            {{item.todo}}
                            <img class="icons" (click)="item.canEditCode = true" src="assets/svg/edit-icon.svg"
                                alt="edit-icon">
                            <img (click)="removeToDo(data.done,item)" alt="remove-icon" class="icons"
                                src="assets/svg/remove.svg">
                        </div>
                        <ng-template [ngIf]=item.canEditCode>
                            <input class="edit-input" *ngIf="item.canEditCode" [(ngModel)]="item.todo" type="text">
                            <small id="kaydet" (click)="editToDo(data.done,item)">Kaydet</small>
                            <small id="iptal-et" (click)="item.canEditCode=false">İptal Et</small>
                        </ng-template>
                    </div>
                </div>
                <div class="text-center pt-3" *ngIf="data.done?.length === 0"><small>Tamamlanan iş yok!</small></div>
            </div>
        </div>
    </div>
</div>