<div class="container page-content">
    <div class="row">
        <div class="col-md-6 col-left">
            <div class="col header">
                <img src="assets/svg/kafein.svg" alt="img-icon">
                <h1 title="title">Kafein TodoList</h1>
                <p title="login">Giriş</p>
            </div>
            <mat-divider></mat-divider>
            <div class="body">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                    <p>
                        <mat-form-field class="form-email" appearance="outline">
                            <mat-label>Email adresinizi giriniz</mat-label>
                            <input type="email" #email="ngModel" [(ngModel)]="user.email" id="email" matInput
                                placeholder="Email" name="email" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="form-password" appearance="outline">
                            <mat-label>Şifrenizi giriniz</mat-label>
                            <input matInput [type]="hide ? 'password': 'text'" required #password="ngModel"
                                [(ngModel)]="user.password" name="password">
                            <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </span>
                        </mat-form-field>
                    </p>
                    <button mat-raised-button color="primary" type="submit" title="Giriş">Giriş</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-right">
        </div>
    </div>
</div>