nav {
    font-family: cursive;
    background-image: url("../../../assets/svg/routes-background.svg");
}
.table {
    padding: 5rem;
    table {
        text-align: center;
        box-shadow: 15px 15px rgba(156, 0, 60,0.3);
        thead > tr > th {
            font-weight: 500;
            img {
                margin-left: 7px;
                height: 30px;
            }
        }
    }
}